{
  "openapi": "3.0.2",
  "info": {
    "title": "bit.io Developer API",
    "version": "0.4.0"
  },
  "servers": [
    {
      "url": "https://api.bit.io"
    }
  ],
  "paths": {
    "/v2beta/db/": {
      "get": {
        "summary": "List databases",
        "description": "Lists metadata for all databases that you own or are a collaborator on.",
        "operationId": "get_db_list_v2beta_db__get",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DatabasesResponse",
                  "required": [
                    "databases"
                  ],
                  "type": "object",
                  "properties": {
                    "databases": {
                      "title": "Databases",
                      "type": "array",
                      "items": {
                        "title": "Database",
                        "required": [
                          "id",
                          "name",
                          "date_created",
                          "is_private",
                          "role",
                          "storage_limit_bytes",
                          "usage_current",
                          "usage_previous"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "date_created": {
                            "title": "Date Created",
                            "type": "string",
                            "format": "date-time"
                          },
                          "is_private": {
                            "title": "Is Private",
                            "type": "boolean"
                          },
                          "role": {
                            "title": "Role",
                            "type": "string"
                          },
                          "storage_limit_bytes": {
                            "title": "Storage Limit Bytes",
                            "type": "integer"
                          },
                          "storage_usage_bytes": {
                            "title": "Storage Usage Bytes",
                            "type": "integer"
                          },
                          "usage_current": {
                            "title": "DatabaseUsage",
                            "required": [
                              "rows_queried",
                              "period_start",
                              "period_end"
                            ],
                            "type": "object",
                            "properties": {
                              "rows_queried": {
                                "title": "Rows Queried",
                                "type": "integer"
                              },
                              "period_start": {
                                "title": "Period Start",
                                "type": "string",
                                "format": "date"
                              },
                              "period_end": {
                                "title": "Period End",
                                "type": "string",
                                "format": "date"
                              }
                            }
                          },
                          "usage_previous": {
                            "title": "DatabaseUsage",
                            "required": [
                              "rows_queried",
                              "period_start",
                              "period_end"
                            ],
                            "type": "object",
                            "properties": {
                              "rows_queried": {
                                "title": "Rows Queried",
                                "type": "integer"
                              },
                              "period_start": {
                                "title": "Period Start",
                                "type": "string",
                                "format": "date"
                              },
                              "period_end": {
                                "title": "Period End",
                                "type": "string",
                                "format": "date"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new database",
        "description": "Create a new database. `name` is the only required parameter, and should be specified without including the owner's username. Databases will be set to private by default. `storage_limit_bytes` sets the maximum storage that will be provisioned for the database in bytes. If unset, it will default to 3GiB for free users, and 10GiB for Pro users. If set, the maximum value for the user's plan will be enforced regardless of the value that is provided, however any values less than the maximum are allowed. ",
        "operationId": "create_db_v2beta_db__post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateDatabase",
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "title": "Name",
                    "type": "string"
                  },
                  "is_private": {
                    "title": "Is Private",
                    "type": "boolean",
                    "default": true
                  },
                  "storage_limit_bytes": {
                    "title": "Storage Limit Bytes",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Database",
                  "required": [
                    "id",
                    "name",
                    "date_created",
                    "is_private",
                    "role",
                    "storage_limit_bytes",
                    "usage_current",
                    "usage_previous"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "is_private": {
                      "title": "Is Private",
                      "type": "boolean"
                    },
                    "role": {
                      "title": "Role",
                      "type": "string"
                    },
                    "storage_limit_bytes": {
                      "title": "Storage Limit Bytes",
                      "type": "integer"
                    },
                    "storage_usage_bytes": {
                      "title": "Storage Usage Bytes",
                      "type": "integer"
                    },
                    "usage_current": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    },
                    "usage_previous": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/db/{username}/{db_name}": {
      "get": {
        "summary": "Get metadata about a single database",
        "description": "Fetch metadata about a single database. The requested database can be a database that you own, a database that you are a collaborator on, or a public database.",
        "operationId": "get_db_v2beta_db__username___db_name__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Username",
              "type": "string"
            },
            "name": "username",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Db Name",
              "type": "string"
            },
            "name": "db_name",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Database",
                  "required": [
                    "id",
                    "name",
                    "date_created",
                    "is_private",
                    "role",
                    "storage_limit_bytes",
                    "usage_current",
                    "usage_previous"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "is_private": {
                      "title": "Is Private",
                      "type": "boolean"
                    },
                    "role": {
                      "title": "Role",
                      "type": "string"
                    },
                    "storage_limit_bytes": {
                      "title": "Storage Limit Bytes",
                      "type": "integer"
                    },
                    "storage_usage_bytes": {
                      "title": "Storage Usage Bytes",
                      "type": "integer"
                    },
                    "usage_current": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    },
                    "usage_previous": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a single database",
        "description": "Delete a database that you are the owner of.",
        "operationId": "delete_db_v2beta_db__username___db_name__delete",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Username",
              "type": "string"
            },
            "name": "username",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Db Name",
              "type": "string"
            },
            "name": "db_name",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Database",
                  "required": [
                    "id",
                    "name",
                    "date_created",
                    "is_private",
                    "role",
                    "storage_limit_bytes",
                    "usage_current",
                    "usage_previous"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "is_private": {
                      "title": "Is Private",
                      "type": "boolean"
                    },
                    "role": {
                      "title": "Role",
                      "type": "string"
                    },
                    "storage_limit_bytes": {
                      "title": "Storage Limit Bytes",
                      "type": "integer"
                    },
                    "storage_usage_bytes": {
                      "title": "Storage Usage Bytes",
                      "type": "integer"
                    },
                    "usage_current": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    },
                    "usage_previous": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update metadata of a single database",
        "description": "Update metadata of a database that you are owner or admin of. One or multiple of `name`, `is_private`, and `storage_limit_bytes` may be updated in a single request. If updating `storage_limit_bytes`, the maximum for your usage plan will be enforced. If updating `name`, the name should be specified without including the owner's username. After updating a database name, it is recommended to update your API calls to use the new name as soon as possible. The old name will only be usable for up to 30 days after being changed. ",
        "operationId": "update_db_v2beta_db__username___db_name__patch",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Username",
              "type": "string"
            },
            "name": "username",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Db Name",
              "type": "string"
            },
            "name": "db_name",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateDatabase",
                "type": "object",
                "properties": {
                  "name": {
                    "title": "Name",
                    "type": "string"
                  },
                  "is_private": {
                    "title": "Is Private",
                    "type": "boolean"
                  },
                  "storage_limit_bytes": {
                    "title": "Storage Limit Bytes",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Database",
                  "required": [
                    "id",
                    "name",
                    "date_created",
                    "is_private",
                    "role",
                    "storage_limit_bytes",
                    "usage_current",
                    "usage_previous"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "is_private": {
                      "title": "Is Private",
                      "type": "boolean"
                    },
                    "role": {
                      "title": "Role",
                      "type": "string"
                    },
                    "storage_limit_bytes": {
                      "title": "Storage Limit Bytes",
                      "type": "integer"
                    },
                    "storage_usage_bytes": {
                      "title": "Storage Usage Bytes",
                      "type": "integer"
                    },
                    "usage_current": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    },
                    "usage_previous": {
                      "title": "DatabaseUsage",
                      "required": [
                        "rows_queried",
                        "period_start",
                        "period_end"
                      ],
                      "type": "object",
                      "properties": {
                        "rows_queried": {
                          "title": "Rows Queried",
                          "type": "integer"
                        },
                        "period_start": {
                          "title": "Period Start",
                          "type": "string",
                          "format": "date"
                        },
                        "period_end": {
                          "title": "Period End",
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/db/{username}/{db_name}/export/": {
      "post": {
        "summary": "Start a data export job.",
        "description": "Starts a new data export job, exporting either an entire table, or the results of a given query. If exporting a table, both `schema_name` and `table_name` must be given (if you never specified a schema name when creating your table, its schema name is `public`). If exporting query results, the full query must be given in the `query_string` field. You must also specify the format to export to. Supported formats are CSV, JSON, XLS, and Parquet. You may optionally specify the exported file's name using the `file_name` field. Exported files are not returned from this endpoint. Rather, this endpoint returns an object describing the status of the export job, including `status_url`, `state` and `download_url` fields. You can request the `status_url` to retrieve the updated status of your export job. The possible states of an export job are `RECEIVED`, `PROCESSING`, `DONE`, and `FAILED`. When the job reaches the `DONE` state, it should have a `download_url`, which you can request to download the exported file.",
        "operationId": "create_export_v2beta_db__username___db_name__export__post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Username",
              "type": "string"
            },
            "name": "username",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Db Name",
              "type": "string"
            },
            "name": "db_name",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateExport",
                "required": [
                  "export_format"
                ],
                "type": "object",
                "properties": {
                  "query_string": {
                    "title": "Query String",
                    "type": "string"
                  },
                  "schema_name": {
                    "title": "Schema Name",
                    "type": "string"
                  },
                  "table_name": {
                    "title": "Table Name",
                    "type": "string"
                  },
                  "file_name": {
                    "title": "File Name",
                    "type": "string"
                  },
                  "export_format": {
                    "title": "Export Format",
                    "enum": [
                      "csv",
                      "json",
                      "xls",
                      "parquet"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ExportJob",
                  "required": [
                    "id",
                    "date_created",
                    "state",
                    "retries",
                    "export_format"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_finished": {
                      "title": "Date Finished",
                      "type": "string",
                      "format": "date-time"
                    },
                    "state": {
                      "title": "State",
                      "type": "string"
                    },
                    "retries": {
                      "title": "Retries",
                      "type": "integer"
                    },
                    "error_type": {
                      "title": "Error Type",
                      "type": "string"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string"
                    },
                    "status_url": {
                      "title": "Status Url",
                      "type": "string",
                      "default": ""
                    },
                    "export_format": {
                      "title": "Export Format",
                      "type": "string"
                    },
                    "file_name": {
                      "title": "File Name",
                      "type": "string"
                    },
                    "download_url": {
                      "title": "Download Url",
                      "maxLength": 2083,
                      "minLength": 1,
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/db/{username}/{db_name}/import/": {
      "post": {
        "summary": "Start a data import job from a file or a URL",
        "description": "Starts a new data import job given a file or URL, and a target table. This endpoint accepts form data instead of JSON in order support direct file uploads. Supported filetypes are CSV, JSON, XLS/XLSX, and SQLite. A file XOR a URL is required. If relevant to your filetype, you may specify how you want the file's header to be interpreted via the `infer_header` field. Options are `auto` (we detect whether there is a header row in your file), `first_row` (specify that the header is the first row of the file), or `no_header` (there is no header in your file). The response to this request will contain a field `status_url`, which you can request to retrieve the updated status of your upload. The `STATE` field of the response indicates the current status of the upload. The possible states are `RECEIVED`, `PROCESSING`, `DONE`, and `FAILED`.",
        "operationId": "create_import_v2beta_db__username___db_name__import__post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Username",
              "type": "string"
            },
            "name": "username",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Db Name",
              "type": "string"
            },
            "name": "db_name",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          },
          {
            "required": true,
            "schema": {
              "title": "Content-Length",
              "type": "integer"
            },
            "name": "content-length",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "title": "CreateImport",
                "required": [
                  "table_name"
                ],
                "type": "object",
                "properties": {
                  "schema_name": {
                    "title": "Schema Name",
                    "type": "string",
                    "default": "public"
                  },
                  "table_name": {
                    "title": "Table Name",
                    "type": "string"
                  },
                  "infer_header": {
                    "title": "Infer Header",
                    "pattern": "(auto)|(first_row)|(no_header)",
                    "type": "string",
                    "default": "auto"
                  },
                  "file": {
                    "title": "File",
                    "type": "string",
                    "format": "binary"
                  },
                  "file_url": {
                    "title": "File Url",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ImportJob",
                  "required": [
                    "id",
                    "date_created",
                    "state",
                    "retries"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_finished": {
                      "title": "Date Finished",
                      "type": "string",
                      "format": "date-time"
                    },
                    "state": {
                      "title": "State",
                      "type": "string"
                    },
                    "retries": {
                      "title": "Retries",
                      "type": "integer"
                    },
                    "error_type": {
                      "title": "Error Type",
                      "type": "string"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "error_details": {
                      "title": "Error Details",
                      "type": "object"
                    },
                    "status_url": {
                      "title": "Status Url",
                      "type": "string",
                      "default": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/export/{export_id}": {
      "get": {
        "summary": "Get the status of a data export job",
        "description": "Retrieves the status and other metadata about a given export job. See the description of the export creation endpoint for a sumary of export job statuses and metadata fields.",
        "operationId": "get_export_v2beta_export__export_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Export Id",
              "type": "string"
            },
            "name": "export_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ExportJob",
                  "required": [
                    "id",
                    "date_created",
                    "state",
                    "retries",
                    "export_format"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_finished": {
                      "title": "Date Finished",
                      "type": "string",
                      "format": "date-time"
                    },
                    "state": {
                      "title": "State",
                      "type": "string"
                    },
                    "retries": {
                      "title": "Retries",
                      "type": "integer"
                    },
                    "error_type": {
                      "title": "Error Type",
                      "type": "string"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string"
                    },
                    "status_url": {
                      "title": "Status Url",
                      "type": "string",
                      "default": ""
                    },
                    "export_format": {
                      "title": "Export Format",
                      "type": "string"
                    },
                    "file_name": {
                      "title": "File Name",
                      "type": "string"
                    },
                    "download_url": {
                      "title": "Download Url",
                      "maxLength": 2083,
                      "minLength": 1,
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/import/{import_id}": {
      "get": {
        "summary": "Get the status of a data import job",
        "description": "Retrieves the status and other metadata about a given import job. See the description of the import creation endpoint for a summary of import job statuses.",
        "operationId": "get_import_v2beta_import__import_id__get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Import Id",
              "type": "string"
            },
            "name": "import_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ImportJob",
                  "required": [
                    "id",
                    "date_created",
                    "state",
                    "retries"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "date_created": {
                      "title": "Date Created",
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_finished": {
                      "title": "Date Finished",
                      "type": "string",
                      "format": "date-time"
                    },
                    "state": {
                      "title": "State",
                      "type": "string"
                    },
                    "retries": {
                      "title": "Retries",
                      "type": "integer"
                    },
                    "error_type": {
                      "title": "Error Type",
                      "type": "string"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "error_details": {
                      "title": "Error Details",
                      "type": "object"
                    },
                    "status_url": {
                      "title": "Status Url",
                      "type": "string",
                      "default": ""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CustomError",
                  "required": [
                    "detail",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "string"
                    },
                    "uuid": {
                      "title": "Uuid",
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "description": "Response data for generic API errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "DjangoApiError",
                  "required": [
                    "status_code",
                    "error_id"
                  ],
                  "type": "object",
                  "properties": {
                    "status_code": {
                      "title": "Status Code",
                      "type": "integer"
                    },
                    "error_id": {
                      "title": "Error Id",
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    },
                    "help": {
                      "title": "Help",
                      "type": "string"
                    },
                    "error": {
                      "title": "DjangoError",
                      "required": [
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "description": "Response data for Django API errors"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2beta/query": {
      "post": {
        "summary": "Execute a query",
        "description": "The query endpoint can be used to execute a query against a database that you have access to. Both parameters in the body must be specified. `query_string` should contain the SQL query you want to execute, and `database_name` should be the database to exectue the query against, formatted as `{username}/{database-name}`. For space-efficiency, by default the response will be a JSON object containing a `metadata` object describing the columns, and a `data` array containing the raw rows returned by the query. If you would instead like an array of JSON objects representing each row, use the query parameter `?data_format=objects`. Note that it is only possible to run a single query or SQL command per API call. ",
        "operationId": "query_v2beta_query_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Data Format",
              "type": "string"
            },
            "name": "data_format",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string"
            },
            "name": "authorization",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "QueryRequest",
                "required": [
                  "query_string",
                  "database_name"
                ],
                "type": "object",
                "properties": {
                  "query_string": {
                    "title": "Query String",
                    "type": "string"
                  },
                  "database_name": {
                    "title": "Database Name",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateDatabase": {
        "title": "CreateDatabase",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "is_private": {
            "title": "Is Private",
            "type": "boolean",
            "default": true
          },
          "storage_limit_bytes": {
            "title": "Storage Limit Bytes",
            "type": "integer"
          }
        }
      },
      "CreateExport": {
        "title": "CreateExport",
        "required": [
          "export_format"
        ],
        "type": "object",
        "properties": {
          "query_string": {
            "title": "Query String",
            "type": "string"
          },
          "schema_name": {
            "title": "Schema Name",
            "type": "string"
          },
          "table_name": {
            "title": "Table Name",
            "type": "string"
          },
          "file_name": {
            "title": "File Name",
            "type": "string"
          },
          "export_format": {
            "title": "Export Format",
            "enum": [
              "csv",
              "json",
              "xls",
              "parquet"
            ],
            "type": "string"
          }
        }
      },
      "CreateImport": {
        "title": "CreateImport",
        "required": [
          "table_name"
        ],
        "type": "object",
        "properties": {
          "schema_name": {
            "title": "Schema Name",
            "type": "string",
            "default": "public"
          },
          "table_name": {
            "title": "Table Name",
            "type": "string"
          },
          "infer_header": {
            "title": "Infer Header",
            "pattern": "(auto)|(first_row)|(no_header)",
            "type": "string",
            "default": "auto"
          },
          "file": {
            "title": "File",
            "type": "string",
            "format": "binary"
          },
          "file_url": {
            "title": "File Url",
            "type": "string"
          }
        }
      },
      "CustomError": {
        "title": "CustomError",
        "required": [
          "detail",
          "uuid"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "title": "Detail",
            "type": "string"
          },
          "uuid": {
            "title": "Uuid",
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Response data for generic API errors"
      },
      "Database": {
        "title": "Database",
        "required": [
          "id",
          "name",
          "date_created",
          "is_private",
          "role",
          "storage_limit_bytes",
          "usage_current",
          "usage_previous"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "date_created": {
            "title": "Date Created",
            "type": "string",
            "format": "date-time"
          },
          "is_private": {
            "title": "Is Private",
            "type": "boolean"
          },
          "role": {
            "title": "Role",
            "type": "string"
          },
          "storage_limit_bytes": {
            "title": "Storage Limit Bytes",
            "type": "integer"
          },
          "storage_usage_bytes": {
            "title": "Storage Usage Bytes",
            "type": "integer"
          },
          "usage_current": {
            "title": "DatabaseUsage",
            "required": [
              "rows_queried",
              "period_start",
              "period_end"
            ],
            "type": "object",
            "properties": {
[...]
